analyzer_workflow.json
{
  "name": "Sidecar Analyzer Workflow (Synchronous)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-trigger",
        "options": {
          "responseMode": "onReceived"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "webhook-analyzer",
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sidecar:5000/api/analyzer/analyze",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.body.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ],
      "id": "http-analyzer",
      "name": "Call Python Analyzer"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "id": "respond-analyzer",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Python Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Python Analyzer": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
