scraper_workflow.json
{
  "name": "Web Scraper Demo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "scrape-trigger",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "1",
      "name": "Webhook"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://sidecar:5000/scrape",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "={{ $json.query.url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        680,
        300
      ],
      "id": "2",
      "name": "Call Python Scraper"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        300
      ],
      "id": "3",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Call Python Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Python Scraper": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
